################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/www/bin
/www/obj/Debug
/HostedAPIConcept.Tests/obj/Debug
/packages
/.vs
/HostedAPIConcept.Tests/bin/Debug
/HostedAPIConcept.Tests/obj/Release
/www/obj/Release
/www/Properties/PublishProfiles
/www/www.csproj.user