################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/www/bin
/www/obj/Debug
/HostedAPIConcept.Tests/obj/Debug
/packages
/.vs
